h1{
    color: black;
    background: pink;
    text-align: center;
}

img{
     width: 400px;
     text-align: center;
}

#Jennie{color: black;
background-color: blueviolet;}

li{color: blueviolet;}
p {
    font-family: 'Courier New', Courier, monospace;
    font-size: 35px;}
